<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pmirkelam.ipcserver">
    <queries>
        <package android:name="com.pmirkelam.ipcclient" />
    </queries>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IPCServer">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".IPCServerService">
            <intent-filter>
                <action android:name="aidlexample" />
                <action android:name="messengerexample" />
            </intent-filter>
        </service>
        <receiver android:name=".IPCBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.pmirkelam.ipcclient" />
            </intent-filter>
        </receiver>
    </application>
</manifest>